
<ul class="nav nav-list">
    <li class="hover">
        <a href="@Html.IsActive("Home", "Index")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="hover">
        <a href="@Url.Action("Index", "Vote")">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Vote </span>
        </a>

        <b class="arrow"></b>
    </li>


</ul><!-- /.nav-list -->
